[submodule "summarizer"]
	path = summarizer
	url = git@github.com:betoesquivel/onforums-summarizer
[submodule "testdataextractor"]
	path = testdataextractor
	url = git@github.com:betoesquivel/onforums-testdataextractor
[submodule "linkfinder"]
	path = linkfinder
	url = git@github.com:betoesquivel/onforums-linkfinder
[submodule "scraper"]
	path = scraper
	url = git@github.com:betoesquivel/onforums-scraper
[submodule "summpy"]
	path = summpy
	url = git@github.com:betoesquivel/summpy
